<!-- Hero Section -->
<section class="gradient-bg py-20">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <h1 class="text-5xl md:text-6xl font-bold text-white mb-6">
            Encurte seus links
            <span class="block text-yellow-300">em segundos</span>
        </h1>
        <p class="text-xl text-blue-100 mb-12 max-w-2xl mx-auto">
            Transforme URLs longas em links curtos e elegantes. Monitore cliques, analise performance e compartilhe com facilidade.
        </p>
        
        <!-- URL Shortener Form -->
        <div class="max-w-2xl mx-auto bg-white rounded-2xl p-8 shadow-2xl">
            <form [formGroup]="urlForm" (ngSubmit)="createShortUrl()"  id="shortenForm" class="flex flex-col gap-4">
                <input 
                    type="url" 
                    id="urlInput"
                    placeholder="Cole sua URL aqui..."
                    name="originalUrl"
                    formControlName="originalUrl"
                    class="flex-1 px-6 py-4 border-2 border-gray-200 rounded-xl focus:border-blue-500 focus:outline-none text-lg"
                    required
                >
                <!-- Novo campo de URL personalizada -->
                <input
                    type="text"
                    id="customUrl"
                    placeholder="URL personalizada (opcional)"
                    name="shorUrl"
                    formControlName="shortUrl"
                    class="flex-1 px-6 py-4 border-2 border-gray-200 rounded-xl focus:border-blue-500 focus:outline-none text-lg"
                >
                <button 
                    type="submit"
                    class="bg-gradient-to-r from-blue-500 to-purple-600 text-white px-8 py-4 rounded-xl hover:from-blue-600 hover:to-purple-700 transition-all font-semibold text-lg"
                >
                    Encurtar
                </button>
            </form>
            
            <!-- Result -->
            <div *ngIf="urlShortend" id="result" class="mt-6 p-4 bg-green-50 border border-green-200 rounded-xl">
                <p class="text-green-800 mb-2">Link encurtado com sucesso!</p>
                <div class="flex items-center justify-between bg-white p-3 rounded-lg border">
                    <span id="shortUrl" class="text-blue-600 font-mono">http://localhost:8080/{{urlShortend}}</span>
                    <button (click)="copyToClipboard('http://localhost:8080/' + urlShortend)" id="copyBtn" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors">
                        Copiar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

